# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore local configuration files
config.yaml
.env

# Ignore data folder
data/

# Ignore .vscode/
.vscode/

# Ignore runs/
runs/