# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore local configuration files

# Ignore data folder

# Ignore .vscode/
.vscode/

# Ignore runs/
runs/